
<div class="js">
    <div class="container" style="display: block; height: 400px;">
        <div class="search-box">
            <i>
                <img src="static\location.svg">
            </i>
            <input placeholder="enter your location", name="city", autocomplete="off", id="inp", value="{{ city }}">
            <button type="submit" id="btn">
                <img src="static\search.svg">
            </button>
        </div>
        <div class="not-found" style="display: block;">
            <img src="static\bitmap pc.png">
            <p>invalid location</p>
        </div>
    </div>
</div>