<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static\style.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <title>weather</title>
</head>

<body>
    <div class="js">
        <video autoplay muted loop id="videoback">
            <source src="{{ background }}">
        </video>
        <div class="container" style="{{ style }}">
            <div class="search-box">
                <i>
                    <img src="static\location.svg">
                </i>
                <form action="/" method="post">
                <input placeholder="enter your location" name="city" autocomplete="off" id="inp" value="{{ city }}"
                    spellcheck="false">
                <button type="submit" id="btn">
                    <img src="static\search.svg">
                </button>
                <form>
            </div>

            <div class="weather-box">
                <img src="{{ img }}">
                <p class="temperature">{% if data %}{{ data['temp'] }}°C{% else %}{% endif %}</p>
                <p class="description">{% if data %}{{ data['description'] }}{% else %}{% endif %}</p>
            </div>

            <div class="weather-details">
                <div class="humidity">
                    <i><img src="static\water.png"></i>
                    <div class="text">
                        <span>{% if data %}{{ data['humidity'] }}%{% else %}{% endif %}</span>
                        <p>humidity</p>
                    </div>
                </div>
                <div class="wind">
                    <i><img src="static\wind.png"></i>
                    <div class="text">
                        <span>{% if data %}{{ data['wind'] }}Km/h{% else %}{% endif %}</span>
                        <p>wind speed </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="static/index.js"></script>
</body>

</html>
